/*
    Abbiamo visto i selettori di tipo, ovvero i selettori che vengono utilizzati per selezionare e applicare stili a tutti gli elementi di un determinato tipo (o tag) all'interno dell'HTML.
*/
/* Tutti i tag P dei documenti HTML a cui questo foglio e collegato avranno questo colore del testo */
p {
    color: #545454;
}

/*
    Se volessimo prendere un singolo P specifico per dargli degli stili a parte?
    Possiamo assegnargli una classe con l'attributo class="" e richiamarla nel foglio di stile con il nome che abbiamo deciso preceduto da un punto.

    Assegno al P che mi interessa la classe error e da CSS la richiamo per dire che TUTTI gli elementi che posseggono questa classe dovranno avere queste regole.

    Questo fa in modo che si possa definire lo stile di un componente, come un bottone, una volta sola e utilizzarlo quante volte vogliamo.
*/
/* .error {
    color: red;
} */

/*
    Se invece volessimo selezionare solo i paragrafi con la classe error, dovremmo fare un selettore più specifico.
*/
p.error {
    color: red;
}

p.success {
    color: #07b95a;
}

p.success.feedback {
    border: 1px dashed #07b95a;
    padding: 10px;
}

/*
    L'attributo id a sua volta può essere utilizzato come selettore CSS (uno solo, visto che l'id è univoco).
    Converrebbe evitare di usarli in CSS, perché vengono usati spesso per JavaScript, in più hanno una specificità più forte di quella delle classi, quindi le regole ad essi assegnate sono più difficili da sovrascrivere.

    Il selettore di id è simile a quello delle classi, ma al posto del punto ha un cancelletto.
*/
#content {
    background-color: #ebebeb;
    padding: 20px;
}

/*
    Possiamo essere ancora più specifici sfruttando i selettori di discendenza. Possiamo selezionare gli elementi figli di un elemento genitore.

    Volendo selezionare solo i P all'interno di un elemento DIV, selezioniamo il genitore e poi selezioniamo quali figli ci interessano, separando genitore e figli con uno spazio.
*/
/* Tutti i paragrafi contenuti dentro un DIV */
div p {
    font-weight: bold;
}

