body {
    /* permette di scegliere la font family del testo */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /* colora il testo */
    color: orange;

    /* colora lo sfondo */
    background-color: slategray;

    /* determina la grandezza del font */
    font-size: 60px;
    
    /* assegna una decorazione al testo e ha dei valori prestabiliti */
    text-decoration: underline;

    /* permette di allineare il testo */
    text-align: center;
}

p {
    color: slategray;

    /* determina lo spazio verticale tra le righe di un testo (interlinea) */
    line-height: 30px;

    /* determina lo spazio tra ogni singola lettera di un testo */
    letter-spacing: 1px;

    /* suddivide il contenuto in colonne */
    column-count: 3;

    /* imposta la quantità di spazio tra le colonne */
    column-gap: 60px;
}

ul {
    /* impostare un bordo attorno all'elemento */
    /* border-width: 4px;
    border-color: crimson;
    border-style: solid; */

    /* tutte queste proprietà possono essere abbreviate in un'unica proprietà (shorthand) */
    /* border: 4px solid crimson; */

    /* possiamo aggiugnere un bordo solo a un lao dell'elemento */
    border-bottom: 4px solid #eb8117;
    border-left: 6px dashed #dc143c;
    border-right: 8px dotted crimson;
}

li {
    /* per gestire l' aspetto dei puntini di ogni elemento della lista */
    list-style-type: none;
}

/* --------------------------- COLORI - CODICI HEX -------------------------- */
/*
    Finora abbiamo usato delle parole chiave per assegnare determinati colori, ma possiamo utilizzare i codici hex per essere più precisi e usare esattamente il colore che vogliamo, che magari non è disponibile tra quelli offerti da CSS.

    I codici hex sono formati da un cancelletto e una stringa alfanumerica di 6 caratteri (es.: #42f4f1). Le 3 coppie di caratteri fanno riferimanto ai 3 canali dei colori primari RGB (rosso, verde, blu), quindi i primi due caratteri gestiranno il rosso, quelli dopo il verde e gli ultimi il blu, risultando in un colore specifico.

    Nero: #000000
    Bianco: #FFFFFF
*/

/* -------------------- ELEMENTI BLOCK E ELEMENTI INLINE -------------------- */
/*
    Abbiamo visto che l'HTML è composto da elementi diversi, alcuni sono elementi block e altri sono elementi inline. La differenza sta nel come vengono visualizzati sulla pagina e quanto spazio occupano:

        - Elementi block = occupano l'intera larghezza disponibile, mandando "a capo" gli elementi che seguono, iniziano su una nuova riga e possono contenere altri elementi block e inline. 
        Esempi: <p>, <div>, <h1>, <ul>, <li>.

        - Elementi inline = occupano solo la larghezza necessaria per il loro conenuto e non iniziano su una nuova riga e possono contenere solo altri elementi inline.
        Esempi: <span>, <a>, <strong>, <img>, <em>
*/

/* span {
    display: block;
}

div {
    display: inline;
} */

/* ---------------------------- MARGIN E PADDING ---------------------------- */
/*
    Margin e padding sono due proprietà CSS che controllano lo spazio attorno e all'interno degli elementi.

    MARGIN
    Il margin è lo spazio esterno di un elemento. Si tratta dell'area che separa un elemento dagli altri elementi circostanti. I margini non hanno colore e non influenzano le dimensioni dell'elemento, ma creano spazio attorno a esso.

    PADDING
    Il padding è lo spazio interno di un elemento. Si  tratta dell'area che separa il contenuto dell'elemento (come testo o immagini) dai bordi dell'elemento stesso. A differenza del margin, il padding influisce sulle dimensioni complessive dell'elemento.
*/

div {
    border: 2px solid crimson;
    /* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px; */
    margin: 20px;
    padding: 20px;
}

span {
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
}

/* ------------------------------ INLINE BLOCK ------------------------------ */
/*
    Gli elementi inline-block combinano caratteristiche sia degli elementi inline che degli elementi block.

    Si comportano come elementi inline, quindi possono essere posizionati uno accanto all'altro, ma possono avere larghezza e altezza definite.
    In più supportano le proprietà di margin e padding, quindi possiamo aggiungere spazio attorno e all'interno degli elementi.
    Non iniziano su una nuova riga, a meno che non ci sia spazio sufficiente nella riga corrente.
*/
span {
    display: inline-block;
}